/* ##### RESETANDO OS VALORES PADRÕES ##### */
:root{
    font-size: 62.5% /* 1rem == 10px */
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

img {
    width: 100%;
    display: block;
}

button {
    padding: 1.2rem 2.4rem;
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

label {
    display: block;
    margin-bottom: 0.8rem;

}

select {
    padding: 1.2rem 2.4rem;
}

/* ##### ALINHAMENTO ##### */

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 6.4rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.galeria img:first-child {
    grid-column: 1/-1;
}

/* ##### ESPAÇAMENTO #####*/

.informacoes h1 {
    margin-bottom: 3.2rem;
}

.informacoes p,
.informacoes h2 {
    margin-bottom: 2.4rem;
}

@media (max-width: 500px) {
    main {
        grid-template-columns: 1fr;

        padding: 6.4rem 2.4rem;
    }
}


